$path: '/assets/fonts';

@font-face {
  font-family: 'Abel-Regular';
  src: url($path + '/Abel-Regular.eot');
  src: url($path + '/Abel-Regular.eot?#iefix') format('embedded-opentype'),
       url($path + '/Abel-Regular.svg#Abel-Regular') format('svg'),
       url($path + '/Abel-Regular.ttf') format('truetype'),
       url($path + '/Abel-Regular.woff') format('woff'),
       url($path + '/Abel-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

